@* @model IEnumerable<OlevelsVM>
@{
    Layout = null;
    var items = Model ?? new List<OlevelsVM>();
    var k = 0;
} *@

@model IEnumerable<OlevelsVM>

@{
    var items = Model ?? new List<OlevelsVM>();
    var k = 0;
}

<table class="table table-striped table-bordered display text-nowrap dataTable">
    <thead>
        <tr>
            <th>S/No</th>
            <th>Exam Body</th>
            <th>Exam Type</th>
            <th>Exam Year</th>
            <th>Subject</th>
            <th>Grade</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in items)
        {
            k++;
            <tr>
                <td>@k&nbsp;</td>
                <td>
                    <strong>@item.ExamBody</strong>
                </td>
                <td>@item.ExamType</td>
                <td>@item.Status.ToUtilString()</td>
                <td>
                    <div class="dropdown dropstart">
                        <a href="javascript:void(0)" class="text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="ti ti-dots-vertical fs-6"></i>
                        </a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li>
                                <a class="dropdown-item d-flex align-items-center gap-3" href="@Url.Action("update",  "", new { itemId = item.OlevelsId})">
                                    <i class="fs-4 ti ti-edit"></i>Edit
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center gap-3" href="javascript:deleteItemInfo('@item.OlevelsId')">
                                    <i class="fs-4 ti ti-trash"></i>Delete
                                </a>
                            </li>
                            <li>
                                <a class="dropdown-item d-flex align-items-center gap-3" href="javascript:switchItemStatus('@item.OlevelsId', '@((int) item.Status)')">
                                    <i class="fs-4 ti ti-edit"></i> @(item.Status == ItemStatus.Active ? "Disable" : "Enable")
                                </a>
                            </li>
                        </ul>
                    </div>
                </td>
            </tr>
        }

    </tbody>
</table>

