@model RegistrationVM
@{
    ViewData["Title"] = "Registration";
    Layout = "~/Views/Shared/Layouts/_FormLayout.cshtml";

    var error = ViewBag.Error as string;
    var hasError = !string.IsNullOrEmpty(error) && error.Length > 2;

    // var headVals = UIHelperKit.WizHeading(Model.RegType);
    var modVals = UIHelperKit.WizModule(Model);
    var module = UIHelperKit.WizModuleHelp(Model);
    var ids = UIHelperKit.WizIdHelp(Model);


}

@* <section class="@headVals.csClass" style="height: 135px;">
    <div class="container pt-3 d-flex">
        <img src="~/img/icon/@headVals.iiCon" alt="" width="100" />
        <h5 class="quicksand pt-4">
            <strong class="ms-1">@headVals.title</strong>
        </h5>
    </div>
</section> *@



<section>
    <div id="mainViewDiv">
        <div class="container mb-5">
            @if (hasError)
            {
                <div class="alert alert-danger">@Html.Raw(error)</div>
            }
            @await Html.PartialAsync(modVals.moduleName, modVals.model)
@*             @await Html.PartialAsync("_RegNav", (Model.RegStage, headVals.btnTheme))
 *@        </div>
    </div>
</section>


@section Scripts {
    <script src="~/js/pages/main/registration/reg-wizard.js" asp-append-version="true"></script>
    <script src="~/js/pages/core/lookup-cascade.js" asp-append-version="true"></script>
    <script>
        var modInfo = @Html.Raw(JsonConvert.SerializeObject(module))
            $(function () {
                onloadCascade('@ids.InstType', '@ids.SelInstId', '@ids.FacultyId', '@ids.SelCourseId', '@ids.StateId', '@ids.SelLocalAreaId');
            });
    </script>
}